.landing {
    font-family: "Comic Sans MS", cursive, sans-serif;
    height: 600px;
    color: blue;
    background: lightgray url("../../img/SanFranGGBridge.jpg") no-repeat left top;
    background-size: 100% 600px;
}

h3 {
  font-size: 23px;
  margin-top: 10px 0;
}

p {
    font-size: 18px;
    margin-top: 0;
    padding: 30px;
    text-align: left;
}

footer {
  margin-top: 325px;
}
