.landing {
    height: 600px;
    color: blue;
    background: lightgray url("../../img/SanFranGGBridge.jpg") no-repeat left top;
    background-size: 100% 600px;
}
p {
    padding: 30px;
    text-align: left;
}
