.questionText h3 {
  color: black;
  text-align: left;
}

.questionText li {
  color: black;
  display: flex;
}

.questionText li:hover {
  color: black;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
}
