* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

a:visited { 
  color: white; 
}

body {
  color: #444;
  font-family: 'Oxygen', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

img {
  width: 100% !important;
  height: auto !important;
}

ul {
  list-style: none;
  text-align: left;
}

.layout-wrap {
  margin: 50px auto 0;
  max-width: 1200px;
  width: 90%;
}

.obey {
  width: 100%;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both;
}
